@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Delicious+Handrawn&family=Nabla&family=Silkscreen:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', 'Verdana', 'cursive';
}

:root {
    --correct-color: green;
    --incorrect-color: red;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 24, 26);
}

/* wrond and correct satements */
body.correct {
    background-color: var(--correct-color);
}

body.incorrect {
    background-color: var(--incorrect-color);
}

.container {
    background-color: azure;
    padding: 50px;
    max-width: 80%;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 9px 9px 1px rgb(19, 17, 19);
    margin-bottom: 9rem;

}

/* button -display */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-block: 20px;
    gap: 10px;

}

.btn {
    padding: 10px;
    transition: 0.6s ease-in-out;
    border-radius: 4px;
    font-size: 1rem;
}

.btn:hover {
    transition-duration: 0.5s;
    transform: translateY(-1px);
}

.btn.incorrect {
    background-color: var(--incorrect-color);
    color: white;
}

.btn.correct {
    background-color: var(--correct-color);
    color: white;

}
.next-btn{
    padding: 20px;
    font-size: 1.5rem;
}
.controls{
    display: flex;
    justify-content: center;
    align-self: center;
}

/* hud ( heads up display ) */

#hud{
    display: flex;
    justify-content: center;
    gap: 200px;
    position: absolute;
    color: azure;
    top: 50px;
    margin-top: 29rem;
}
#progressBar{
    position: relative;
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    overflow: hidden;
}